body {
    background-color: #f2f2f2;
}

h1, h2 {
    color: #313740;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
}

a {
    color: #4f45a8;
    font-family: 'Lucida Sans', sans-serif;
}

a:hover {
    color: #9a92e6;
    font-family: 'Lucida Sans', sans-serif;
}

.btn:focus, .btn:active, .btn:visited {
    outline: none !important;
    box-shadow: none !important;
    background-color: #574596;
}

#finalScore {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-weight: bold;
}

span {
    font-family: 'Lucida Sans', sans-serif;
}

p {
    font-family: 'Lucida Sans', sans-serif;
}

#questionTitle {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
}

#answerCheck {
    font-style: italic;
    color: #2b3342;
}